<!doctype html>
<html lang="en">

<head>
  <title>Jason Hooper &bull; Ontario, Canada</title>

  <meta charset="utf-8">
  <meta name="description" content="Jason Hooper's personal homepage">
  <meta name="author" content="Jason Hooper">

  <link rel="stylesheet" href="css/default.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
  <div id="wrap">

    <div id="left">
      <div class="profile-pic">
        <img src="images/profile.jpg" class="img-circular" />
      </div>

      <div class="bio-infos">
        <span class="name">Jason Hooper</span><br/>
        <br/>
        Software Engineer<br/>
        Ontario, Canada<br />
        <br/>
        <a href="mailto:nirgle@gmail.com">nirgle@gmail.com</a>
      </div>
    </div>

    <div id="right">

      $body$

      <div class="last-updated">This site last updated: 21 March 2019</div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>
