<!doctype html>
<html lang="en">

<head>
  <title>Jason Hooper &bull; Ontario, Canada</title>

  <meta charset="utf-8">
  <meta name="description" content="Jason Hooper's personal homepage">
  <meta name="author" content="Jason Hooper">

  <link rel="stylesheet" href="css/default.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>

<body>
  <header>
    <div class="profile-pic">
      <a href="/"><img src="images/profile.jpg" class="img-circular" /></a>
    </div>

    <nav>
      <a href="/">Home</a>
      <a href="/school-years.html">School Years</a>
    </nav>
  </header>

  <main>
    <h1>$title$</h1>

    $body$

    <div class="last-updated">This page last updated: $lastUpdated$</div>
  </main>

</body>

</html>
